<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="js/socket.io.js"></script>
		
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> <!-- file for font size, colors etc... -->

	</head>
	<body>
		<div class="container">
		<h1>T5 Messenger</h1>
		
		<div class="row">
			<div class="col-sm-11 col-sm-offset-1">
				<p>Welcome back {{user}}! <a href="logout">Logout</a> </p> <!-- format page to display username and logout button-->
			</div>
		</div>
		
		<div id="messages" style="height:200px;overflow-y:scroll;overflow-x: hidden; margin-bottom:10px"> <!-- ??? -->	
		</div>
		
		 <div class="row" style="display:none;" id="typingBoxWrapper">
            <div class="col-sm-12">
                <div class=" well well-sm" id="typingBox">
                </div>
            </div>
        </div>

		<div class="row">
		<div class="col-sm-4">
		<div class="input-group">
			<input class="form-control" type="text" id="messageText" name="msg" placeholder="say something.."> <!-- format page to display box to enter text to chat -->
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" id="sendButton">Send</button>	<!-- format page to display button to send text to chat-->
			</span>
		</div>
		</div>
		</div>
		
		</div>
		
		    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<script>
			var socket = io.connect(); //localhost is your port number
			
			function resizeMessages() {
				//format chat box to be the window height - x
				$("#messages").height($(window).height() - 180);
			}
			
			$(document).ready(resizeMessages);

			// for the window resize
			$(window).resize(resizeMessages);

			$("#messageText").ready(function() {//function to (supposed to anyway...) send signal to send text to chat that is in text box
 				$('#messageText').keydown(function(event){
 					socket.emit("typing")
    				if(event.keyCode == 13) {
     					sendMessage($("#messageText").val());
						$("#messageText").val("");
    				}
  				});
			});
			
			$("#sendButton").click(function() {//function to receive the signal to send text to chat that is in text box
				sendMessage($("#messageText").val());
				$("#messageText").val("");
			});
			


			// Returns a string formatted as 'Month Day, Year'
			function formatDate(date) {
				var months = ["January","February","March","April","May","June","July","August","September","November","October","December"];
				return months[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear();
			}
			
			var previousFormattedDate = "";
			
			function renderMessage(msg) {//function to render text on browser when you send and receive a message
				var date = new Date(msg.time);
				// hours part from the timestamp
				var hours = date.getHours();
				// minutes part from the timestamp
				var minutes = date.getMinutes();
				
				var formattedDate = formatDate(date);

				// will display time in 10:30 format
				var formattedTime = hours + ':' + (minutes < 10? '0' + minutes : minutes);
				var result="";
				// Render the date 
				if(previousFormattedDate !== formattedDate) {
					result+='<div class="row"><div class="col-sm-12"><h4><span class="label label-primary">'+formattedDate+'</span></h4></div></div>';
					previousFormattedDate = formattedDate;
				}
				result+='<div class="row"><div class="col-sm-12">';//render time to chat
				//result+='<img class="pull-left" src="img/businessman.png" alt="'+msg.sender+'" style="display:block;width:64px;height:64px;">';
				result+='<p><b>'+formattedTime+'</b> ';
				if(msg.sender) {
					 result+='<b class="text-primary">'+msg.sender+'</b>';//render the user who sent the message
				 }
				result+='</p><p>';
				result += msg.text+'</p></div></div>';//render text to chat
				
				$("#messages").append(result);
				jQuery("#messages").scrollTop(jQuery("#messages")[0].scrollHeight);//function to scroll down to bottom of chat when user has entered a new message to chat box
			}
			
			function sendMessage(msg) {
				socket.emit('message', {text: msg});
				renderMessage({time: new Date().getTime(), sender: '{{user}}', text: msg});//function to send message to chat
			}
			

    		socket.on('message', function(data){
    			renderMessage(data);
    		});
    		
    		var userTyping = {}; 
    		
    		function renderTypingBox() {
    		var result = "";
    		var i = 0
    		for(var user in userTyping){
    			if (i != 0) result += ", ";
    			result += user;
				i++;
    		}
    		if (i == 0) {
				$("#typingBoxWrapper").hide();
				return;
			}
    		else if (i ==1) result += " is";
    		else result += " are";
    		result +=  " typing...";
    		console.log(result);
    			$("#typingBoxWrapper").show();
    			$("#typingBox").html(result);				
			}

    		
    		socket.on('isTyping', function(data){
    			userTyping[data.user] = true;
    			renderTypingBox();
			});
			
			socket.on('stoppedTyping', function(data) {
				if(userTyping[data.user]) delete userTyping[data.user];
				renderTypingBox();
			});

		</script>
	</body>
</html>
